<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>Frontpage</h1>
    <h1>sdadfdhjhgf</h1>

    <div>
        Personalities in the titles:123
        <table class="table" border="">
            <thead>
                <tr><th>url</th><th>Name</th></tr>
            </thead>
            <tbody data-bind="foreach: charsFromTitle">
                <tr>
                    <td data-bind="text: url"></td>
                    <td data-bind="text: name"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!--
    <div data-bind="currency: amount"></div>
        -->
</body>
</html>