<div class="container-fluid">
    <!-- ko ifnot: sessionStorage.getItem("username") === null; -->
    <div class="row border-bottom justify-content-center align-items-center mb-2">
        <h2>Your favorites</h2>
        <!-- ko ifnot: favTitles().length == 0; -->
        <div class="col">
            <div id="cardCarouselFav" class="carousel carousel-dark mb-2" data-bs-ride="carousel" data-bs-touch="false" data-bs-interval="false" data-bs-wrap="false">
                <div class="carousel-inner" id="inner_cardCarouselFav" data-bind="foreach: favTitles">
                    <div class="carousel-item" data-bind="css: { active: $index() == 0 }">
                        <div class="card">
                            <div class="row g-0">
                                <div class="col-md-4 justify-content-center" style="min-width: 11.107rem;">
                                    <img class="rounded card-poster" alt="Poster" data-bind="attr: { src: poster === '' ? './poster-placeholder.png' : poster }">
                                </div>
                                <div class="col" style="min-width: 224.67px;">
                                    <div class="card-body">
                                        <a class="card-title stretched-link h3 text-reset text-decoration-none" data-bind="attr: { href: url }"><span data-bind="text: name"></span></a>
                                        <span data-bind="visible: is_Adult">&#128286;</span>
                                        <div class="row justify-content-between mt-1 mb-2">
                                            <div class="col-md-auto d-flex">
                                                <h6 class="card-subtitle text-muted"><span data-bind="text: year_Start"></span></h6>
                                            </div>
                                            <div class="col-md-auto d-flex justify-content-center-desktop">
                                                <h6 class="card-subtitle text-muted"><i class="text-warning bi bi-star-fill"></i> <span data-bind="text: avg_Rating === null ? 'No ratings' : avg_Rating"></span></h6>
                                            </div>
                                            <div class="col-md-auto d-flex justify-content-end-desktop">
                                                <h6 class="card-subtitle text-muted"><span data-bind="text: genres"></span></h6>
                                            </div>
                                        </div>
                                        <p class="card-text line-clamp hide-on-mobile"><span data-bind="text: plot"></span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#cardCarouselFav" data-bs-slide="prev" id="prev_cardCarouselFav">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#cardCarouselFav" data-bs-slide="next" id="next_cardCarouselFav">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <!-- /ko -->
        <!-- ko if: favTitles().length == 0; -->
        <h3 class="text-secondary text-center mb-2">You have no favorite titles.</h3>
        <!-- /ko -->
    </div>
    <!-- /ko -->

    <div class="row border-bottom justify-content-center align-items-center mb-2">
        <h2>New releases</h2>
        <div class="col">
            <div id="cardCarouselNew" class="carousel carousel-dark mb-2" data-bs-ride="carousel" data-bs-touch="false" data-bs-interval="false" data-bs-wrap="false">
                <div class="carousel-inner" id="inner_cardCarouselNew" data-bind="foreach: newTitles">
                    <div class="carousel-item" data-bind="css: { active: $index() == 0 }">
                        <div class="card">
                            <div class="row g-0">
                                <div class="col-md-4 justify-content-center" style="min-width: 11.107rem;">
                                    <img class="rounded card-poster" alt="Poster" data-bind="attr: { src: poster === '' ? './poster-placeholder.png' : poster }">
                                </div>
                                <div class="col" style="min-width: 224.67px;">
                                    <div class="card-body">
                                        <a class="card-title stretched-link h3 text-reset text-decoration-none" data-bind="attr: { href: url }"><span data-bind="text: name"></span></a>
                                        <span data-bind="visible: is_Adult">&#128286;</span>
                                        <div class="row justify-content-between mt-1 mb-2">
                                            <div class="col-md-auto d-flex">
                                                <h6 class="card-subtitle text-muted"><span data-bind="text: year_Start"></span></h6>
                                            </div>
                                            <div class="col-md-auto d-flex justify-content-center-desktop">
                                                <h6 class="card-subtitle text-muted"><i class="text-warning bi bi-star-fill"></i> <span data-bind="text: avg_Rating === null ? 'No ratings' : avg_Rating"></span></h6>
                                            </div>
                                            <div class="col-md-auto d-flex justify-content-end-desktop">
                                                <h6 class="card-subtitle text-muted"><span data-bind="text: genres"></span></h6>
                                            </div>
                                        </div>
                                        <p class="card-text line-clamp hide-on-mobile"><span data-bind="text: plot"></span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#cardCarouselNew" data-bs-slide="prev" id="prev_cardCarouselNew">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#cardCarouselNew" data-bs-slide="next" id="next_cardCarouselNew">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>

    <div class="row border-bottom justify-content-center align-items-center mb-2">
        <h2>Top-rated titles</h2>
        <div class="col">
            <div id="cardCarouselTrt" class="carousel carousel-dark mb-2" data-bs-ride="carousel" data-bs-touch="false" data-bs-interval="false" data-bs-wrap="false">
                <div class="carousel-inner" id="inner_cardCarouselTrt" data-bind="foreach: trTitles">
                    <div class="carousel-item" data-bind="css: { active: $index() == 0 }">
                        <div class="card">
                            <div class="row g-0">
                                <div class="col-md-4 justify-content-center" style="min-width: 11.107rem;">
                                    <img class="rounded card-poster" alt="Poster" data-bind="attr: { src: poster === '' ? './poster-placeholder.png' : poster }">
                                </div>
                                <div class="col" style="min-width: 224.67px;">
                                    <div class="card-body">
                                        <a class="card-title stretched-link h3 text-reset text-decoration-none" data-bind="attr: { href: url }"><span data-bind="text: name"></span></a>
                                        <span data-bind="visible: is_Adult">&#128286;</span>
                                        <div class="row justify-content-between mt-1 mb-2">
                                            <div class="col-md-auto d-flex">
                                                <h6 class="card-subtitle text-muted"><span data-bind="text: year_Start"></span></h6>
                                            </div>
                                            <div class="col-md-auto d-flex justify-content-center-desktop">
                                                <h6 class="card-subtitle text-muted"><i class="text-warning bi bi-star-fill"></i> <span data-bind="text: avg_Rating === null ? 'No ratings' : avg_Rating"></span></h6>
                                            </div>
                                            <div class="col-md-auto d-flex justify-content-end-desktop">
                                                <h6 class="card-subtitle text-muted"><span data-bind="text: genres"></span></h6>
                                            </div>
                                        </div>
                                        <p class="card-text line-clamp hide-on-mobile"><span data-bind="text: plot"></span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#cardCarouselTrt" data-bs-slide="prev" id="prev_cardCarouselTrt">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#cardCarouselTrt" data-bs-slide="next" id="next_cardCarouselTrt">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>

    <div class="row border-bottom justify-content-center align-items-center">
        <h2>Explore</h2>
        <div class="col">
            <div id="cardCarouselRand" class="carousel carousel-dark mb-2" data-bs-ride="carousel" data-bs-touch="false" data-bs-interval="false" data-bs-wrap="false">
                <div class="carousel-inner" id="inner_cardCarouselRand" data-bind="foreach: randTitles">
                    <div class="carousel-item" data-bind="css: { active: $index() == 0 }">
                        <div class="card">
                            <div class="row g-0">
                                <div class="col-md-4 justify-content-center" style="min-width: 11.107rem;">
                                    <img class="rounded card-poster" alt="Poster" data-bind="attr: { src: poster === '' ? './poster-placeholder.png' : poster }">
                                </div>
                                <div class="col" style="min-width: 224.67px;">
                                    <div class="card-body">
                                        <a class="card-title stretched-link h3 text-reset text-decoration-none" data-bind="attr: { href: url }"><span data-bind="text: name"></span></a>
                                        <span data-bind="visible: is_Adult">&#128286;</span>
                                        <div class="row justify-content-between mt-1 mb-2">
                                            <div class="col-md-auto d-flex">
                                                <h6 class="card-subtitle text-muted"><span data-bind="text: year_Start"></span></h6>
                                            </div>
                                            <div class="col-md-auto d-flex justify-content-center-desktop">
                                                <h6 class="card-subtitle text-muted"><i class="text-warning bi bi-star-fill"></i> <span data-bind="text: avg_Rating === null ? 'No ratings' : avg_Rating"></span></h6>
                                            </div>
                                            <div class="col-md-auto d-flex justify-content-end-desktop">
                                                <h6 class="card-subtitle text-muted"><span data-bind="text: genres"></span></h6>
                                            </div>
                                        </div>
                                        <p class="card-text line-clamp hide-on-mobile"><span data-bind="text: plot"></span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#cardCarouselRand" data-bs-slide="prev" id="prev_cardCarouselRand">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#cardCarouselRand" data-bs-slide="next" id="next_cardCarouselRand">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
    <!-- ko text: carouselControls () -->
    <!-- /ko -->
</div>